*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    text-align: center;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin: 3rem 0;
    color: rgb(241, 219, 20);
}
img{
    width: 700px;
    max-width: 100%;
}