*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/*
h1{
    font-size: 60px;
    margin: 3rem 0;
    color:gold;
}
img{
    width: 700px;
    max-width: 100%;
}